/*------------------------------------*\
	CONTENTS
\*------------------------------------*/
/*
WRAPPER
BUTTON
BUTTON LABEL
BUTTON ICON
ICONS
DROPDOWN MENU
*/


/*------------------------------------*\
	$WRAPPER
\*------------------------------------*/
.buttons {/* Style as you wish (toolbar) */}

/* The Magnificent CLEARFIX */
.buttons:before, .buttons:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 
.buttons:after { clear: both; }
.buttons { zoom: 1; }
/* ------------------------ */


/*------------------------------------*\
	$BUTTON
\*------------------------------------*/
button.action, 
.button {
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	
	font: bold 11px Helvetica, Arial, sans-serif;
	color: #444;
	line-height: 17px;
	height: 18px;
	
	display: inline-block;
	float: left;
	
	margin: 5px;
	padding: 5px 6px 4px 6px;
	
	background: #F3F3F3;
	border: solid 1px #D9D9D9;
	
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	
	-webkit-transition: border-color .20s;
	-moz-transition: border-color .20s;
	-o-transition: border-color .20s;
	transition: border-color .20s;
}
button.action {
	height: 29px !important;
	cursor: pointer;
}

button.action, 
.button.action {
	border: 1px solid #D8D8D8 !important;
	
	background: #F2F2F2;
	background: -webkit-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -moz-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -ms-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -o-linear-gradient(top, #F5F5F5, #F1F1F1);
	
	-webkit-transition: border .20s;
	-moz-transition: border .20s;
	-o-transition: border .20s;
	transition: border .20s;
}
button.action:hover, 
.button.action:hover {
	border: 1px solid #C6C6C6 !important;
	
	background: #F3F3F3;
	background: -webkit-linear-gradient(top, #F8F8F8, #F1F1F1);
	background: -moz-linear-gradient(top, #F8F8F8, #F1F1F1);
	background: -ms-linear-gradient(top, #F8F8F8, #F1F1F1);
	background: -o-linear-gradient(top, #F8F8F8, #F1F1F1);
}


/*------------------------------------*\
	$BUTTON LABEL
\*------------------------------------*/
button.action span.label {
	display: inline-block;
	float: left;
	line-height: 17px;
	height: 18px;
	padding: 0 1px;
	overflow: hidden;
	color: #444;
	
	-webkit-transition: color .20s;
	-moz-transition: color .20s;
	-o-transition: color .20s;
	transition: color .20s;
} 
button span.label {
	line-height: 15px !important;
}
button.action .label, 
.button.action .label {
	padding: 0 17px !important;
}

button.action:active .label, 
.button.action:active .label {
	color: #333 !important;
}



