@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100);
body{
	margin: 0px;
	padding: 0px;
	background-color: #E6E9ED;
	font-family: 'Raleway', sans-serif;
	color: #2c3e50;
	overflow-x: hidden;
}

.pb-sidebar-group.activeSet{
	display: block !important;
}
header{
	background-color: #e67e22;
	border-bottom: 2px #d3711a solid;
	box-shadow: 1px 0px 6px #d3711a;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999999;
	padding: 5px;
}
footer{
	background: #ffffff;
	color: #95a5a6;
	border-right: 1px #E6E9ED solid;
	margin-top: 20px;
	text-align: right;
	padding: 20px;
}
	

/* Menu */
.pb-menu{
	background: #ffffff;
	height: 60px;
	margin-top: 50px;
}
.pb-menu li{
	list-style: none;
	display: inline-block;
}
.pb-menu li a{
	color: #34495E;
	text-decoration: none;
	padding: 15px;
	display: inline-block;
}
.pb-menu li a:hover{
	color: #34495E;
	text-decoration: underline;
}
.pb-menu li a.active{
	border-bottom: #34495E solid 2px;
}

footer em{
	font-size: 11px;
}
a{
	color: #e67e22;
}
a:hover{
	color: #d3711a;
}
/*
.MainFeed, .MainSideBar{
	padding-top: 55px;
}
*/

.MainFeed{
	padding-top: 55px;
}
.MainSideBar{
	background-color: #ffffff;
	height: 100vh;
	position: fixed;
	top: 0px;
	right: 0px;
	padding: 0px;
	padding-top: 55px;
	z-index: 99999;
}
.MainSideBar nav a{
	font-size: 30px;
	color: #E6E9ED;
	display: inline-block;
	padding: 3px 25px;
	border-left: 2px #E6E9ED solid;
	border-bottom: 2px transparent solid;
}
.MainSideBar nav a:first-child{
	border-left: none;
}
.MainSideBar nav a:hover{
	color: #e67e22;
}
.MainSideBar nav a.activeSet{
	color: #e67e22;
	border-bottom: 2px #e67e22 solid;
}
.MainSideBar nav{
	padding: 0px;
	margin: 0px;
	text-align: center;
	border-bottom: 2px #E6E9ED solid;
}
@media (max-width: 992px) {
  .MainSideBar {
/*     display: none; */
	width: 350px;
	margin-right: -350px;
  }
  #headerBtns{
	  position: absolute;
	  top: 3px;
	  right: 3px;
  }
}
@media (max-width: 1285px) {
  .MainSideBar nav a {
    padding: 3px 15px;
  }
}
@media (max-width: 1047px) {
  .MainSideBar nav a {
    padding: 3px;
  }
}



.pb-flat-btn{
	color: #ffffff;
	font-size: 30px;
	float: right;
	padding: 0px 13px;
}
.pb-flat-btn:hover, .pb-flat-btn:hover, .pb-flat-btn:hover, .pb-flat-btn:hover, .pb-flat-btn:hover
.pb-flat-btn:active, .pb-flat-btn:active, .pb-flat-btn:active, .pb-flat-btn:active, .pb-flat-btn:active
.pb-flat-btn:visited, .pb-flat-btn:visited, .pb-flat-btn:visited, .pb-flat-btn:visited, .pb-flat-btn:visited
{
	background: rgba(255, 255, 255, 0.10);
	border-radius: 2px;
	text-decoration: none;
	color: #ffffff !important;
}
#SearchBtn{
	font-size: 22px;
	padding: 6px 13px;
	display: none;
}
#MobMenu{
	display: none;
}



.MainSearchBox{
	background: rgba(255, 255, 255, 0.10);
	border-radius: 2px;
	margin-top: 2px;
}
.MainSearchBox input:focus{
	background: rgba(255, 255, 255, 0.40);
}

.MainSearchBox input, .MainSearchBox button{
	background: transparent;
	border: none;
	outline: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
} 
.MainSearchBox input:hover, .MainSearchBox button:hover, .form-control:hover, 
.MainSearchBox input:active, .MainSearchBox button:active, .form-control:active,
.MainSearchBox input:focus, .MainSearchBox button:focus, .form-control:focus,
.MainSearchBox input:active:focus, .MainSearchBox button:active:focus, .form-control:active:focus{
	color: #ffffff;
	outline: 0 none;
	border: none;
	outline: none;
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.MainSearchBox input::-webkit-input-placeholder, .MainSearchBox button {
   color: #ffffff;
}.MainSearchBox input:-moz-placeholder, .MainSearchBox button {
   color: #ffffff;  
}.MainSearchBox input::-moz-placeholder, .MainSearchBox button {
   color: #ffffff;  
}.MainSearchBox input:-ms-input-placeholder, .MainSearchBox button {
   color: #ffffff;  
}
@media (max-width: 992px) {
  .MainSearchBox {
    display: none;
  }
  #SearchBtn, #MobMenu{
	  display: block;
  }
}

.bordered-input, .bordered-input:hover, .bordered-input:focus, .bordered-input:active:focus{
	border: 1px #E6E9ED solid !important;
	border-radius: 3px !important;
	box-shadow: inset 1px 0px 3px rgba(44,62,80,0.1) !important;
}

.border-bottom-input, .border-bottom-input:hover, .border-bottom-input:focus, .border-bottom-input:active:focus{
	border-bottom: 1px #E6E9ED solid !important;
	border-left: 1px #E6E9ED solid !important;
	border-radius: 3px !important;
	box-shadow: none !important;
	margin-top: 3px;
}




#HiddenFrames .HiddenFrame{
	display: none;
}

.form-control{
	border-radius: 0px !important;
	border: none;
	box-shadow: none;
	color: black !important;;
}
.no-resize{
	resize: none;
}

.pb-theme-green{
	color: #27ae60;
}
.pb-theme-blue{
	color: #3498db;
}
.pb-theme-black{
	color: #2c3e50;
}

.btn-default{
	color: #ffffff;
	background-color: #e67e22;
	border-color: #d3711a;
}
.btn-default:hover{
	color: #ffffff;
	background-color: #f69b4b;
	border-color: #e18330;
}

.hide{
	display: none;
}

.transition-100{-o-transition:.1s;-ms-transition:.1s;-moz-transition:.1s;-webkit-transition:.1s;transition:.1s}.transition-200{-o-transition:.2s;-ms-transition:.2s;-moz-transition:.2s;-webkit-transition:.2s;transition:.2s}.transition-300{-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s;transition:.3s}.transition-400{-o-transition:.4s;-ms-transition:.4s;-moz-transition:.4s;-webkit-transition:.4s;transition:.4s}.transition-500{-o-transition:.5s;-ms-transition:.5s;-moz-transition:.5s;-webkit-transition:.5s;transition:.5s}.transition-600{-o-transition:.6s;-ms-transition:.6s;-moz-transition:.6s;-webkit-transition:.6s;transition:.6s}.transition-700{-o-transition:.7s;-ms-transition:.7s;-moz-transition:.7s;-webkit-transition:.7s;transition:.7s}.transition-800{-o-transition:.8s;-ms-transition:.8s;-moz-transition:.8s;-webkit-transition:.8s;transition:.8s}.transition-900{-o-transition:.9s;-ms-transition:.9s;-moz-transition:.9s;-webkit-transition:.9s;transition:.9s}.transition-1000{-o-transition:1s;-ms-transition:1s;-moz-transition:1s;-webkit-transition:1s;transition:1s}.transition-1500{-o-transition:1.5s;-ms-transition:1.5s;-moz-transition:1.5s;-webkit-transition:1.5s;transition:1.5s}.transition-2000{-o-transition:2s;-ms-transition:2s;-moz-transition:2s;-webkit-transition:2s;transition:2s}

.pb-page-divider{
	height: 100px;
	width: 100%;
	background: #e67e22;
	z-index: 99;
}
.pb-center{
	margin: 0px auto;
	width: 102px;
	height: 102px;
	text-align: center;
	border-radius: 4px;
	margin-top: -70px;
	z-index: 999;
}
.pb-center img{
	width: 102px;
	height: 102px;
	border-radius: 4px;
	border: 2px #E6E9ED solid;
}
.pb-page-divider a .zmdi{
	color: #ffffff;
	font-size: 24px;
	float: right;
	margin: 10px;
}


/* Horazontal Rules */
.pb-rule-above{
	border-top: 1px #E6E9ED solid;
}
.pb-rule-above-thick{
	border-top: 2px #E6E9ED solid;
}
.pb-rule-below{
	border-bottom: 1px #E6E9ED solid;
}
.pb-rule-below-thick{
	border-bottom: 2px #E6E9ED solid;
}
.pb-half-rule{
	width: 50%;
	height: 1px;
	background: #E6E9ED;
	margin: 0px auto;
}
.pb-full-rule{
	width: 100%;
	height: 1px;
	background: #E6E9ED;
	margin: 0px auto;
}
.pb-rule-around{
	border: 1px #E6E9ED solid;
	padding: 3px;
}
.pb-rule-around-thick{
	border: 2px #E6E9ED solid;
	padding: 3px;
}

legend{
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
	padding-bottom: 2px;
	border: 0px;
}

/* Post Boxes */
.pb-post{
	padding: 0px;	
	vertical-align: top;
}
.pb-comment{
	box-shadow: 1px 1px 6px rgba(0,0,0,0.20);
	margin-bottom:12px;
}
.pb-post-block{
	background: #ffffff;
	border: 2px #ffffff solid;
	min-height: 100px;
	margin: 5px;
	vertical-align: top;
	float: none;
	border-radius: 2px;
}
.pb-post-head{
	width: 100%;
	padding: 10px;
	border-bottom: 2px #E6E9ED solid;
	position: relative;
}
.pb-post-avatar{
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 3px;
}
.pb-post-author{
	color: #e67e22;
	display: inline-block;
	margin-left: 10px;
	vertical-align: top;
	font-size: 16px;
}
.pb-post-price{
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 25px;
	color: #27ae60
}
.pb-post-timestamp{
	font-size: 13px;
	color: #95a5a6;
	display: inline-block;
	vertical-align: middle;
}
.pb-post-timestamp .zmdi{
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	color: #e67e22;
}
.pb-post-timestamp-o{
	display: inline-block;
	margin-top: -5px;
	font-style: normal;
}
.pb-post-content{
	width: 100%;
	min-height: 20px;
}
.pb-post-content p, .pb-post-content h4{
	padding: 5px;
	margin: 0px;
}
.pb-post-product{
	width: 100%;
	margin: 5px 0px;
}

.pb-post-slider{
	width: 100%;
	position: relative;
}
.pb-post-slider img{
	cursor: pointer;
}
.pb-post-foot{
	width: 100%;
	padding: 10px 0px;
	border-top: 2px #E6E9ED solid;
}
.pb-va-rule{
	border-right: 2px #E6E9ED solid;
}
.pb-post-tag{
	padding: 4px 5px;
	background: #e67e22;
	border-bottom: 2px #d3711a solid;
	color: #ffffff;
	border-radius: 2px;
	font-size: 11px;
	margin: 1px;
	line-height: 24px;
}
.pb-post-tags{
	width: 100%;
	padding: 0px 5px;
}
.pb-post-tags ul, .pb-post-tags li{
	list-style: none;
	display: inline-block;
	padding: 0px;
}
.pb-post-tags li a{
	padding: 4px 5px;
	background: #b7b4b1;
	border-bottom: 2px #9d9c9a solid;
	color: #ffffff;
	border-radius: 2px;
	font-size: 11px;
	margin: 1px;
	line-height: 24px;
}
.pb-post-tags li a:hover{
	text-decoration: none;
	opacity: 0.9;
}
.pb-post-input{
	background: #F5F7FA;
	text-align: center;
}
.pb-post-input form{
	margin: 0px;
	padding: 0px;
}
.pb-post-input-text{
	width: 95%;
	margin: 0px auto;
	height: 40px;
	padding: 7px;
	margin: 0px;
	border: 1px #F5F7FA solid;
	outline: none;
	box-shadow: inset 1px 1px 3px rgba(222,222,222,0.58);
}

.pb-post-input-text:focus{
	border-color: #d1d1d1;
}



.feed-post-tab-link, .feed-post-tab-link-Cancel, .feed-post-tab-link-Accept{
/* 	border: 1px solid #f7cca6; */
	font-weight: 500;
	color: #7f8c8d;
	padding: 6px 22px;
	border-radius: 50px;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}
.feed-post-tab-link:hover, .feed-post-tab-link-Cancel:hover, .feed-post-tab-link-Accept:hover{
	color: #ffffff;
	text-decoration: none;
	background: #e67e22;
	border-color: #e67e22;
}
.feed-post-tab-link-Cancel{
	background: #e74c3c;
	border-color: #e74c3c;
	color: #ffffff;
}
.feed-post-tab-link-Accept{
	background: #2ecc71;
	border-color: #2ecc71;
	color: #ffffff;
}
.feed-post-tab-link-Cancel:hover{
	background: #f1786b;
	border-color: #f1786b;
}
.feed-post-tab-link-Accept:hover{
	background: #5fd992;
	border-color: #5fd992;
}




/* Side Bar Groups */
.pb-sidebar-group{
	display: none;
	padding: 20px;
	overflow-y: auto;
	height: 95%;
}
.full-width{
	padding: 0px !important;
}
.pb-sidebar-group::-webkit-scrollbar {
    width: 2px;
}
 
.pb-sidebar-group::-webkit-scrollbar-track {
    -webkit-box-shadow: #E6E9ED;
}
 
.pb-sidebar-group::-webkit-scrollbar-thumb {
  background-color: #e67e22
}
.pb-sidebar-group.activeSet{
	display: block !important;
}

.pb-sidebar-group ul.li-full-width, .no-bullet{
	padding: 0px;
	list-style: none;
	width: 100%;
}
.pb-sidebar-group ul.li-full-width li{
	display: inline-block;
	list-style: none;
	width: 100%;
}
.pb-sidebar-group ul.li-full-width li a{
	display: block;
	width: 100%;
	min-height: 60px;
	border-bottom: 1px #E6E9ED solid;
	padding: 10px;
	color: #000000;
}
.pb-sidebar-group ul.li-full-width li a:hover{
	text-decoration: none;
}
.pb-sidebar-group ul.li-full-width li:nth-child(odd){
	background: #f3faff;
}
.pb-sidebar-group ul.li-full-width li a span{
	display: block;
}
.pb-sidebar-group ul.li-full-width li a img{
	display: inline-block;
	vertical-align: top;
	float: left;
	margin-right: 10px;
}
.pb-sidebar-group h3{
	padding-bottom: 5px;
	color: #e67e22;
}


/* Sticky Buttons */
.pb-sticky-side{
	position: fixed;
	right: 0px;
	bottom: -5px;
	height: 50px;
	width: 90px;
	box-shadow: 2px 2px 15px rgba(64, 64, 64, 0.59);
	z-index: 999999;
}
.pb-sticky-btn{
	display: inline-block;
	padding: 8px 10px;
	width: 45px;
	height: 45px;
	color: #ffffff;
	font-size: 25px;
	background: #27ae60;
	text-align: center;
	vertical-align: middle;
	margin: 0px;
	float: right;
}
.pb-sticky-btn.feedback{
	background: #e67e22;
}
.pb-sticky-btn:hover{
	color: #ffffff;
	opacity: 0.8;
}
@media (max-width: 992px) {
	.pb-sticky-side{
		height: 95px;
	    width: 45px;
	}
}


form hr{
	margin: 0px;
	padding: 0px;
	margin-bottom: 5px;
}

.tooltip-inner{
	min-width: 150px;
}

.pb-condition-wrapper{
	width: 98%;
	height: 8px;
	background: #E6E9ED;
	border-radius: 3px;
}
.pb-condition-bar{
	height: 8px;
	background: no-repeat url('/images/graphics/condition_level.png');
	opacity: 0.5;
	border-radius: 3px;
}



.pb-icon-box{
	fill: #27ae60;
	width: 35px;
}



.pb-addtocart{
	display: inline-block;
	border: none;
	width: 98%;
	margin: 9px auto;
	color: #ffffff;
	font-size: 20px;
	padding: 10px;
	position: relative;
}
.pb-addtocart:hover{
	opacity: 0.9;
}
.pb-addtocart:before{
	display: block;
	position: absolute;
	font-family: Material-Design-Iconic-Font;
	content: "\f1cb";
	font-size: 20px;
	padding: 3px 9px;
	background: #ffffff;
	color: #E6E9ED;
	top: 7px;
}

.pb-product-gallery{
	width: 100%;
	height: auto;
}
.pb-product-gallery .figure{
	width: 100%;
	background: #ffffff;
}
.pb-product-gallery ul{
	padding: 0px;
}
.pb-product-gallery li{
	list-style: none;
	display: inline-block;
	width: 100px;
	margin: 2px 1px 0px 0px;
	vertical-align: middle;
	background: #ffffff;
}
.pb-product-gallery li img{
	display: inline-block;
	width: 100px;
	border: 1px #ffffff solid;
	cursor: pointer;
}	


